bash_kernel
flask
graphviz # dl: used to plot Keras models
h5py==2.8.0rc1 # dl
hyperopt==0.1.2 # ml-advanced
joblib
kaggle
keras==2.1.6 # dl
lime # optional - prediction explanations
matplotlib # for plots
nltk # optional - for text pre-processing
networkx==1.11 # ml-advanced - see https://github.com/hyperopt/hyperopt/issues/325
pandas-profiling
papermill # for notebook parametrization and execution from CLI
pydot # dl: used to plot Keras models
rise # slideshow mode on notebooks
scikit-learn==0.21.3
seaborn # for plots
tf-nightly-2.0-preview # dl
version-information
xgboost # ml-advanced